* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    background-image: linear-gradient(to right, #3b6cc2, #200b60);
}

main {
    display: flex;
}

main div {
    display: flex;
    flex-wrap: wrap;
}

.city-search {
    width: 25%;
}

.search-for-city {
    width: 100%;
}

form {
    width: 100%;
}

form>* {
    width: 100%;
}

.display {
    width: 75%;
}

.display>* {
    width: 100%;
}

.overview {
    border: 1px solid black;
}

.overview p {
    width: 100%;
}

.overview img {
    height: 27px;
    border-radius: 50%;
    background: lightblue;
}


.uvi span {
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.low {
    background: #289500;
    
}

.moderate {
    background: #f7e400;
    color: black !important;
}

.high {
    background: #f85900;
    color: white;
}

.very-high {
    background: #d80010;
    color: white;
}

.extreme {
    background: #6b49c8;
    color: white;
}

.five-day-forcast h3 {
    width: 100%;
}

[data-id="0"] {
    background: lightblue;
}