* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    background-image: linear-gradient(to right, #3b6cc2, #200b60);
    padding: 10px;
}

header h1 {
    font-size: 70px;
}

main {
    display: flex;
}

main div {
    display: flex;
    flex-wrap: wrap;
}

.city-search {
    flex-direction: column;
    width: 25%;
}

.search-for-city {
    width: 100%;
    font-size: 46px;
    margin: 20px;
    font-weight: normal;
    text-align: center;
}

form {
    width: 100%;
    margin: 20px;
}

form>* {
    width: 100%;
}

.city-name {
    font-size: 46px;
}

.city-input {
    padding: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

.search-button {
    padding: 10px;
    background: lightblue;
    border: none;
    border-radius: 5px;
    font-size: larger;
}

.city-link {
    background: #b7b7b7;
    width: 100%;
    margin: 0 0 10px 20px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: larger;
    font-weight: normal;
}

.display {
    width: 75%;
    margin-left: 20px;
}

.display>* {
    width: 100%;
}

.overview {
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
}

.overview p {
    width: 100%;
    font-size: larger;
    padding-top: 10px;
}

.overview img {
    height: 54px;
    border-radius: 50%;
    background: lightblue;
    position: relative;
    left: 20px;
}

.uvi span {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.low {
    background: #289500;
}

.moderate {
    background: #f7e400;
    color: black !important;
}

.high {
    background: #f85900;
}

.very-high {
    background: #d80010;
}

.extreme {
    background: #6b49c8;
}

.five-day-forcast {
    margin: 20px;
    height: min-content;  
}

.five-day-forcast h3 {
    font-weight: normal;
}

.five-day-forcast img {
    height: 54px;
    background: lightblue;
    border-radius: 50%;
    position: relative;
    left: 5px;
}

.five-day-title {
    font-size:x-large;
    height: min-content;
    margin-bottom: 20px; 
}

.weather-cards {
    flex-grow: 1;
    text-align: center;
}

.weather-card {
    width: 19%;
    height: 257px;
    background: #33475a;
    color: white;
    margin-right: 10px;
    padding: 10px;
    justify-content: center;
}

.weather-card p {
    width: 100%;
}

.date {
    font-size: larger;
    width: 100%;
    height: min-content;
}